<div class="container speaker-index">
  <h2 class="subheader">Members</h2>
  <div class="row attendee">
    <%= for profile <- @profiles do %>
        <div class="card col-xs-4">
          <div class="card-body ">
            <img src="https://picsum.photos/200/200" class="rounded-circle">
            <h4><%= link "#{profile.first} #{profile.last}", to: profile_path(@conn, :show, profile.slug) %></h4>
          </div>
        </div>
    <% end %>
  </div>
</div>