<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hello Fawkes!</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400" rel="stylesheet">


    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  </head>

  <body class="body">
    <header class="header">
      <div class="container">
        <nav role="navigation">
          <ul class="nav nav-pills">
            <li><%= link gettext("About"), to: page_path(@conn, :index) %></li>
            <li><a href="/categories">Categories</a></li>
            <li><a href="/speakers">Speakers</a></li>
            <li><a href="/schedule_slots">Talks</a></li>
          <%= if is_nil @conn.assigns[:current_user] do %>
            <li><%= link gettext("Create Account"), to: signup_user_path(@conn, :new) %></li>
            <li><%= link gettext("Log In"), to: auth_user_path(@conn, :new) %></li>
          <% else %>
            <li><%= link gettext("Attendees"), to: profile_path(@conn, :index) %></li>
            <li><%= link gettext("Edit Profile"), to: profile_path(@conn, :edit) %></li>
            <li><%= link gettext("Logout"), to: auth_user_path(@conn, :delete), method: :post%></li>
          <% end %>
          </ul>
        </nav>
      </div>
    </header>
    <div>
      <main role="main">
        <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
        <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
        <%= render @view_module, @view_template, assigns %>
      </main>
    </div> <!-- /container -->

    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
