<div class="schedule__talk">
  <%= link content_tag(:h3, @talk.title, class: "schedule__talk-title"), to: schedule_path(@conn, :show, @talk.slug) %>

  <div class="schedule__details">
    <%= full_name(@talk.speakers) %> &nbsp; | &nbsp; <%= @talk.location.name %>
  </div>
  <p class="icons">
    <%= meta_links(@conn, @talk.audiences, "audience") %>
    <%= meta_links(@conn, @talk.categories, "category") %>
  </p>
</div>
